<p>You're looking at <code>view/pages/count.ejs</code></p>
<p>You've click this button</p>
<%num%>
<p id="place"></p>
<p>times</p>
<a class="btn btn-light" onclick="callRESTapi()">countNow</a>

<script>



    function callRESTapi() {
        var xhttp;
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // document.getElementById("place").innerHTML = this.responseText.charAt + this.responseText.concat+this.responseText.indexOf+this.responseText.lastIndexOf+this.responseText.
                var str = this.responseText;
                str = str.split('"id": ');
                var tg = str[1];
                var tg = tg.split(",");
                document.getElementById("place").innerHTML = tg[0];
            }
        };
        xhttp.open("GET", "/count/create", true);
        xhttp.send();
    }

</script>