<p>You're looking at <code>view/pages/count.ejs</code></p>
<p>You've click this button <%- num %> time.</p>
<a class="btn btn-light" href="/countNow">countNow</a>

<!-- <form action="/countnownow" method="GET">
    <input class="btn btn-light" type="submit" value="Submit">
</form> -->