<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<style>
  /* Styles included inline since you'll probably be deleting this page anyway */
</style>
<script type="text/javascript">
// setTimeout(function sunrise () {
//   document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
// }, 0);
</script>
<h1>Welcome to CountSite</h1>
<h3>First, we will count how many times User click the button</h3>
<a class="btn btn-light" href="/pages/count">Redirect to the Counting page now</a>
